@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
}

button {
  width: 7em;
  height: 2em;
  margin: 0 10px;
  border-radius: 3em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 119, 255, 0.247);
  transition: 0.5s;
 } 

 @media(max-width: 400px) {
  button {
    font-size:0.7em;
    width: 77px;

    margin: 30px 5px;
    height: 3em;
  }
}

 button:hover{
  background-color: rgba(255, 0, 0, 0.281);
  border: 1px solid rgba(255, 136, 0, 0.247);
 }

html{
  background-color: rgb(15 23 42);
  overflow-x: hidden;
}

img{
  cursor: pointer;
}

span{
  color: rgb(255, 209, 157);
}

select{
  background-color: black;
}

h3{
  font-size: 1.1rem;
}

.clip-circle-28{
  clip-path: circle(38% at 50% 50%);
}

.clip-circle-full{
  clip-path: circle(70% at 50% 50%);
}








