* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: wheat;
}
h1{
   font-size:3rem;
}
h3{
  
  font-size: 2rem;
}
span{
  font-size: 1.2rem;
  color:rgb(248, 158, 106) ;
}

.navbar {
  width: 100vw;
  height: 75px;
  background-color: rgb(78, 78, 78);
  display: flex;
  z-index: 1;
}

.container-navbar {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  gap: 50px
}
.navbar h2{
  cursor: pointer;
}

.page {
  position: absolute;
  width: 100vw;
  height: 300vh;
  display: flex;
  background-color: rgb(46, 46, 46);
}

.container-page {
  width: 90vw;
  height: 300vh;
  margin-top: 50px;
}

.form-page-search {
  height: 30px;
  cursor: pointer;
}

.form-page-search select {
  color: wheat;
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

.container-button {
  width: 500px;
  height: 100px;
  margin: 20px 0;
  display: flex;
  justify-content: start;
  gap: 20px;
}

button {
  width: 100px;
  height: 40px;
  display: flex;
  border: none;
  border-radius: 5px;
  color: rgb(82, 82, 82);
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.container-list-movies {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.card-movie {
  width: 200px;
  height: 250px;
  cursor: pointer;
}

.card-movie img {
  width: 200px;
  height: 250px;
}

.info-movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 46);
  z-index: 3;
}
.info-movie img{
  width: 500px;
  height: 600px;
}

.info-movie h3{
  font-size: 1.2rem;
}

.container-info-movie{
  width: 90vw;
  height:650px;
  display: flex;
  margin-top: 50px;
  justify-content: start;
  align-items: flex-start;
}
.card-info{
  width: 600px;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 35px;
}

.cast{
  width: 90%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}

.card-cast{
  width: 150px;
  height: 275px;
  font-size: 0.5rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card-cast img{
  width: 150px;
  height: 200px;
}
.cast h2{
  font-size: 1.5rem;
}

.card-overiew{
  width: 90%;  
}

.popular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 46);
  z-index: 3;
}
.popular h1{
  font-size: 3rem;
  cursor: pointer;
}
.popular h2{
  cursor: pointer;
}
.container-popular{
  margin-top: 50px;
  width: 90vw;
}
.container-button-popular{
  width: 500px;
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.info-actor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 46);
  z-index: 3;
}
.info-actor img{
  width: 500px;
  height: 600px;
}
.info-actor h3{
  font-size: 1.2rem;
}
.container-actor{
  width: 90vw;
  height: 90vh;
  display: flex;
  margin-top: 50px;
}
.card-biography{
  width: 90%;  
  height: 70vh;
  margin-top: 100px;
}