@tailwind base;
@tailwind components;
@tailwind utilities;

body{overflow-x: hidden;}

button{
  width: 90px;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: rgba(142, 162, 253, 0.808);
  margin: 5px 10px;
  border-radius: 5px;
  color: rgb(253, 195, 128);
}

img{
  width: 150px;
  height: 225px;
  opacity: 0;
  
}

h1{
  text-shadow: 1px 1px 25px rgb(7, 238, 255);
  animation: animShadow 5s;
  animation-iteration-count: infinite;
}

@keyframes animShadow {
  0%{text-shadow: 1px 1px 50px rgb(111, 0, 255);}
  50%{text-shadow: 1px 1px 50px rgb(255, 0, 0);}
  100%{text-shadow: 1px 1px 50px rgb(111, 0, 255);}
} 